<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#064420"/>
    <title>Error</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
      <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">


<style>
    *{
        padding: 0px;
        margin: 0px;
        font-family: 'Dosis', sans-serif;
    }
    .error-page{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #dee2e6;
    color: brown;
    }
#right-side,#left-side{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}
#left-side img{
        width: 80%;
    }
@media(max-width:798px){
    #left-side img{
        width: 50%;
    }
}
</style>

</head>
<body>

    <div class="error-page">
<div class="container">
<div class="row">
    <div class="col-lg-4 col-md-4 " id="left-side">
<img  src="/img/error.png" alt="error">
    </div>
    <div class="col-lg-8 col-md-8" id="right-side">
<h1>Oops ! </h1>
<h3>Try Again </h3>
    </div>
</div>
</div>
    </div>
  
</body>
</html>