<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#064420"/>
    <title>Add Guest Page</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%- include('./partials/header'); -%>


<div class="full-screen">
    <div class="login-page">
        <section>
            <div class="header">
                <h2>Add Guest Member</h2>
            </div>
        </section>

        <div class="form-section">
            <div class="container">
                <form action="/admin/addguest" method="POST" enctype="multipart/form-data" >
                    <div class="inputFields">

                        <input id="inputName" class="form-control" type="text" placeholder="Guest name" name="guestName">
                        <input id="inputName" class="form-control" type="text" placeholder="Profession" name="profession">
                        <input id="inputName" class="form-control" type="text" placeholder="description" name="description">
                        <input id="inputName" class="form-control" type="url" name="podcastLink" id="podcastLink" placeholder="Podcast Link">
                        <input id="inputName" class="form-control" type="url" name="fbLink" id="fbLink" placeholder="link of facebook id">
                        <input id="inputName" class="form-control" type="url" name="instaLink" id="instaLink" placeholder="link of instagram id">
                        <input id="inputName" class="form-control" type="url" name="linkedinLink" id="linkedinLink" placeholder="link of linkedin id ">
              
                        <!-- <input id="inputName" class="form-control" type="number" name="guestRating" id="guestRating" placeholder="Rating (out of 10)"> -->
                        <input id="inputName" class="form-control" type="file" name="guestImage" id="guestImage" placeholder="Image of Guest">
                    
                    </div>
                    <div class="footer">
                        <button type="submit" class="btn btn-success">Add Guest</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
    
</body>
</html>


