


  <!DOCTYPE html>
  <html lang="en">
  
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
      <title>LiveTalkISM</title>
      <link rel="stylesheet" href="/public/css/index.css">
  </head>
  
  <body>
      <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light">
          <div class="container-fluid">
              <a class="navbar-brand" href="/index.html">
                  <!-- <img src="/WhatsApp Image 2021-07-24 at 11.02.36 PM.jpeg" alt="" width="30" height="30"
                      class="d-inline-block align-text-top"> -->
                  LiveTalkISM
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                      </li>
                      
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              About
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="/guestSpeakers.html">Guest Speakers</a></li>
                              <li><a class="dropdown-item" href="/teamMembers.html">Team Members</a></li>
                          </ul>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="index.html#contactUs">Contact Us</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
      <!----------------------------------------------------------->
      
     <%- include('./partials/message'); -%>
     <h2>All the Guest list</h2>
     <ul>
         <% items.forEach(function(user){ %>
          <h4><%= user.username %> </h4>
          <h4><%= user.profession %> </h4>
         <img src="../uploads/<%= user.guest_img %> " alt="" style="width: 10%;" draggable="false">
         <% }); %>
       </ul>



      <!-- -------------------------------------------------------------- -->
      <br>
      <div class="container pt-2">
          <div class="h1 title" style="color: #036F31;">Guest Speakers</div>
          <!-- <div class="content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque amet necessitatibus
              quos iusto autem
              commodi labore corrupti voluptates, aliquid odio illum. Est amet, hic aliquid praesentium nostrum saepe eum
              quas consequuntur ipsa doloremque quos maxime delectus iure exercitationem accusamus assumenda tempora qui
              repellat eaque quam nulla sunt debitis. Eos officia, ipsum amet earum maiores officiis ad harum recusandae.
              At adipisci voluptate nesciunt autem neque sit consectetur eaque ipsam corrupti ullam ab modi, praesentium
              ratione, laborum vel unde doloremque reprehenderit ducimus numquam! Similique temporibus obcaecati sequi
              impedit, tempora, nemo architecto id aspernatur reprehenderit dolore est, placeat ut odit consequatur. Ad?
          </div>
          <br>
          <div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, aliquam error eius
              incidunt voluptatum
              magni? Ab dolorem, in quam ea cum aspernatur quidem cumque laborum aliquam aperiam incidunt repellat culpa
              perspiciatis ullam ex.</div> -->
      </div>
      <!-- ----------------------------------------------------------- -->
      <div class="container my-4 py-4" style="background-color: #EEEEEE ; border-radius: 12px; border:0.5px solid black;">
          <div class="pt-2 row">
              <div class="col-lg-3 my-2" style="text-align: center;">
                  <img src="/public/uploads/images/ayushdinker.jpg"
                      style="height: 150px; width: 150px; border-radius: 75px; text-align:center;" alt="">
              <div class="h3 text-center my-2" style="color: #036F31;">Ayush Dinker</div>
  
              </div>
              <div class="col-lg-9 container">
                  <div>There is no passion to be found playing small-in settling for a life that is less than the one you are
                      capable of living." A story of an engineer turned filmmaker who is driven by the desire of his passion.
                      LiveTalksISM had our first guest Ayush Dinker. Ayush is the owner of travel films platform Ethereal.
                      "A good traveler has no fixed plans and is not intent on arriving." The films created at Ethereal are
                      travel films (not vlogs!) about a primary human emotion, and the whole narrative revolves around
                      that concept. Ethereal recently clocked 5.7M views on its YouTube channel and is going strong
                      further. Ayush has been at the forefront of this endeavour. He shared his traveling experiences, life
                      changing moments and much much more on the very first episode of #SaturdaySuspense. And this
                      episode received more than 2000 views
                  </div>
                  <br>
                  <div  class="h5">Podcast Link : <a href="https://www.youtube.com/watch?v=wvh9RROJ0Co">Click here</a></div>
              </div>
             
          </div>
      </div>
      <!-- ----------------------------------------------------------- -->
      <div class="container my-4 py-4" style="background-color: #EEEEEE ; border-radius: 12px; border:0.5px solid black;">
          <div class="pt-2 row">
              <div class="col-lg-3 my-2" style="text-align: center;">
                  <img src="/public/uploads/images/stutichangle.jpg"
                      style="height: 150px; width: 150px; border-radius: 75px; text-align:center;" alt="">
              <div class="h3 text-center my-2" style="color: #036F31;">Stuti Changle</div>
  
              </div>
              <div class="col-lg-9 container">
                  <div>Talent is cheaper than table salt. What separates the talented individual from the successful one is a
                      lot of hard work.” This is the story of an engineer turned writer who took the plunge to relentlessly
                      pursue her dreams. <br>
                      LiveTalksISM welcomed @stutichangle as our second guest .She is the popular author of the
                      much-loved books ‘On The Open Road’ and ‘You Only Live Once.' Her debut book 'On the Open Road'
                      was a runaway success and her second book 'You Only Live Once' has been amongst the top
                      Amazon Bestsellers within a month of release. She has been associated with 50+ events and
                      travelled to 25+ colleges across the country as a speaker to convey her vision and motivate the
                      youth to ‘Make a move.’ She was in our show #SaturdaySuspense to have a fun, freewheeling chat
                      about her characters,travel experiences and an array of other things
                  </div>
                  <br>
                  <div  class="h5">Podcast Link : <a href="https://www.youtube.com/watch?v=Nv-QuCnXs5I">Click here</a></div>
              </div>
             
          </div>
      </div>
       <!-- ----------------------------------------------------------- -->
       <div class="container my-4 py-4" style="background-color: #EEEEEE ; border-radius: 12px; border:0.5px solid black;">
          <div class="pt-2 row">
              <div class="col-lg-3 my-2" style="text-align: center;">
                  <img src="/public/uploads/images/shibanikashyap.jpg"
                      style="height: 150px; width: 150px; border-radius: 75px; text-align:center;" alt="">
              <div class="h3 text-center my-2" style="color: #036F31;">Shibani Kashyap</div>
  
              </div>
              <div class="col-lg-9 container">
                  <div>Where there is singing, there might be sorrow but no pain"- our guest Shibani Kashyap would vouch
                      for that.@shibanikashyap - the woman with a mesmerizing voice & an enticing personality. The part
                      one of the podcast revolved around Shibani's big bollywood break to her live shows and synergy of
                      passion with career. The second part of the podcast revolves around Shibani's take on nepotism in
                      bollywood, the pakistan music industry experience and the reality of reality shows. This episode
                      cloaked over 1.5 views across all social media platforms!
                  </div>
                  <br>
                  <div  class="h5">Podcast Link : <a href="https://www.youtube.com/watch?v=VZd4TORrcIA">Click here</a></div>
              </div>
             
          </div>
      </div>
       <!-- ----------------------------------------------------------- -->
       <div class="container my-4 py-4" style="background-color: #EEEEEE ; border-radius: 12px; border:0.5px solid black;">
          <div class="pt-2 row">
              <div class="col-lg-3 my-2" style="text-align: center;">
                  <img src="/public/uploads/images/iqlipsenova.jpg"
                      style="height: 150px; width: 150px; border-radius: 75px; text-align:center;" alt="">
              <div class="h3 text-center my-2" style="color: #036F31;">Iqlipse Nova</div>
  
              </div>
              <div class="col-lg-9 container">
                  <div>Where there is singing, there might be sorrow but no pain"- our guest Shibani Kashyap would vouch
                      for that.@shibanikashyap - the woman with a mesmerizing voice & an enticing personality. The part
                      one of the podcast revolved around Shibani's big bollywood break to her live shows and synergy of
                      passion with career. The second part of the podcast revolves around Shibani's take on nepotism in
                      bollywood, the pakistan music industry experience and the reality of reality shows. This episode
                      cloaked over 1.5 views across all social media platforms!
                  </div>
                  <br>
                  <div  class="h5">Podcast Link : <a href="https://www.youtube.com/watch?v=vd5ETBCNYn4">Click here</a></div>
              </div>
             
          </div>
      </div>
        <!-- ----------------------------------------------------------- -->
        <div class="container my-4 py-4" style="background-color: #EEEEEE ; border-radius: 12px; border:0.5px solid black;">
          <div class="pt-2 row">
              <div class="col-lg-3 my-2" style="text-align: center;">
                  <img src="/public/uploads/images/parthhetamsaria.jpg"
                      style="height: 150px; width: 150px; border-radius: 75px; text-align:center;" alt="">
              <div class="h3 text-center my-2" style="color: #036F31;">Parth Hetamsaria</div>
  
              </div>
              <div class="col-lg-9 container">
                  <div>Our next guest was the one who truly believes in the quote "To a determined mind, there are no
                      obstacles only opportunities". Parth Hetamsaria , a final year Mining Engineering student of our very
                      own IIT ISM. He is an embodiment of all the great virtues and values the esteemed mining
                      engineering department of IIT ISM has stood for over the course of time. Parth is the winner of two
                      massive global challenges The KPMG Ideation challenge and the Adobe Analytics challenge. Apart
                      from receiving huge prize money for his intelligence, Parth has also successfully bagged a Pre
                      Placement Offer at KPMG.
                  </div>
                  <br>
                  <div  class="h5">Podcast Link : <a href="https://www.youtube.com/watch?v=mmUojOHcWFg">Click here</a></div>
              </div>
             
          </div>
      </div>
        <!-- ----------------------------------------------------------- -->
        <div class="container my-4 py-4" style="background-color: #EEEEEE ; border-radius: 12px; border:0.5px solid black;">
          <div class="pt-2 row">
              <div class="col-lg-3 my-2" style="text-align: center;">
                  <img src="/public/uploads/images/bharghavpoludasu.jpg"
                      style="height: 150px; width: 150px; border-radius: 75px; text-align:center;" alt="">
              <div class="h3 text-center my-2" style="color: #036F31;">Bhargava Poludasu
              </div>
  
              </div>
              <div class="col-lg-9 container">
                  <div>Next in the lineup we had another IIT ISM Alum who has made our college proud. Mr. Bhargava
                      Poludasu (@bhargavapoludasu ), a Mining Machinery graduate from the Batch of 2000. He's an
                      Indian Actor/Producer who works mainly in the Tollywood Cinema. Recently he has been highly
                      appreciated for his performance in the film "Gatham" released on prime. This film has an IMDB rating
                      of 6.1/10 and has also been nominated to the National Film Festival India. Apart from this he also
                      works for GOOGLE in the U.S.
                  </div>
                  <br>
                  <div  class="h5">Podcast Link: <a href="https://www.youtube.com/watch?v=me8HgUmuc-g">Click here</a></div>
              </div>
             
          </div>
      </div>
        <!-- ----------------------------------------------------------- -->
        <div class="container my-4 py-4" style="background-color: #EEEEEE ; border-radius: 12px; border:0.5px solid black;">
          <div class="pt-2 row">
              <div class="col-lg-3 my-2" style="text-align: center;">
                  <img src="/public/uploads/images/rajivshekhar.jpg"
                      style="height: 150px; width: 150px; border-radius: 75px; text-align:center;" alt="">
              <div class="h3 text-center my-2" style="color: #036F31;">Mr. Rajiv Shekhar
              </div>
  
              </div>
              <div class="col-lg-9 container">
                  <div>Our most recent and most successful episode with over 6k+ views was with the Director of our very
                      own IIT ISM Dhanbad, Professor Rajiv Shekhar, a multidisciplinary research expert, who has been
                      exploring strategies that would catapult IITs among the pantheon of elite global universities. Prior to
                      joining IIT ISM, he worked as a professor in the department of material science and engineering at
                      IIT Kanpur. He is renowned for his eminent expertise in the research domain of extraction,
                      manufacturing technology and his contributions for integrated software platform EIA can't be left
                      un-underlined.
                      
                  </div>
                  <br>
                  <div  class="h5">Podcast Link : <a href="https://youtu.be/BfTJbqPkMGI">Click here</a></div>
              </div>
             
          </div>
      </div>
  </body>
  
  </html>