<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#064420"/>
    <title>Admin Login Page</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body onload="preloadering()">
 <div id="loading"></div>
    <%- include('./partials/header'); -%>

<div class="full-screen">
    
    <div class="login-page">
        <section>
            <div class="header">
                <h2>Admin Log In</h2>
            </div>
        </section>

        <div class="form-section">
            <div class="container">
                <form action="/admin/login" method="POST">
                    <div class="inputFields">


                        <input id="inputName" type="text" class="form-control" name="username"
                            placeholder="Username">

                        <input id="inputName" type="password" class="form-control" name="password"
                            placeholder="Password">

                    </div>
                    <div class="footer">
                       <button class="btn" type="submit">Log In</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
    
<script>
    const loading =document.getElementById("loading");
   function preloadering(){
    loading.style.display = 'none';
   }
</script>
</body>
</html>


