 * {
    padding: 0px;
    margin: 0px;
    
}

.Btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    background: #003638;
    padding: 10px;
}
.Btn img{
    width: 5%;
    border-radius: 50%;
}




#menuBtn {
    right: 15px;
    position: absolute;
    top: 10px;
font-size: 32px;
background: none;
border: none;
color: #91C788;
}

.sidebar {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 0;
    height: 100%;
    /* background-color: rgb(12, 83, 9); */
    background-color: #003638;
    /* display: none; */
    box-shadow: 2px 2px 2px 4px rgb(112 166 26);
  z-index: 111;
  transition: ease-in-out .2s;
}


#menuBtn,
#cancel {
    cursor: pointer;
}


#cancel {
font-size: 28px;
color: yellowgreen;
}
.btn-cancel {
    position: relative;
    top: -3.4rem;
    font-size: 2rem;
    left: 20px;
    color: chartreuse;
}

.btn-cancel button {
background:none;
border: none;
}

.sidebar header {
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    background-color: rgb(55, 97, 13);
    user-select: none;
}
.sidebar ul li{
    list-style: none;
}
.sidebar ul li a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 20px;
    color: rgb(155, 235, 28);
    padding-left: 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    transition: ease-in .2s;
}

.sidebar ul li a:hover {
  padding-left: 30px;
    color: #fff;
    background-color: rgb(69, 107, 31);
}

.sidebar ul li a i {
    padding-right: 10px;
}  



@media (max-width:978px ){
    .Btn img {
        width: 7%;
        border-radius: 50%;
    }
}
@media (max-width:700px ){
    .Btn img {
        width: 9%;
        border-radius: 50%;
    }
}
@media (max-width:524px ){
    .Btn img {
        width: 12%;
        border-radius: 50%;
    }
    #menuBtn {
        font-size: 27px;
        right: 10px;
position: absolute;
top: 3px;
      
    }
}
