@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:wght@500&display=swap');
 * {
    padding: 0px;
    margin: 0px;
    
}


.Btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    background: #003638;
    padding: 10px;
    align-items: center;
    height: fit-content;
}
.Btn a img{
    width: 7%;
    border-radius: 50%;
}




#menuBtn {
    right: 15px;
    position: absolute;
    top: 10px;
font-size: 32px;
background: none;
border: none;
color: #91C788;
display: none;
}


/* .navbar-right{
        display: flex;
        justify-content: center;
        align-items: center;
    
} */
.navItems{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
}
.navLink{
    list-style: none
}
.navLink a {
    text-decoration: none;
    color: chartreuse;
    font-family: 'Glory', sans-serif;
    padding: 8px;
    font-size: 20px;
    margin: 0px 5px;
    /* font-weight: 600; */
    border-radius: 5px;
}
.navLink a:hover{
    background-color: #E4EFE7;
    color:#003638
}
.sidebar {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 0;
    height: 100%;
    background-color: #003638;
    box-shadow: 2px 2px 2px 4px rgb(112 166 26);
  z-index: 111;
  transition: ease-in-out .2s;
}


#menuBtn,
#cancel {
    cursor: pointer;
}


#cancel {
font-size: 28px;
color: yellowgreen;
}
.btn-cancel {
    position: relative;
    top: -3.4rem;
    font-size: 2rem;
    left: 20px;
    color: chartreuse;
}

.btn-cancel button {
background:none;
border: none;
}

.sidebar header {
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    background-color: rgb(55, 97, 13);
    user-select: none;
}
.sidebar ul li{
    list-style: none;
}
.sidebar ul li a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 20px;
    color: rgb(155, 235, 28);
    padding-left: 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    transition: ease-in .2s;
}

.sidebar ul li a:hover {
  padding-left: 30px;
    color: #fff;
    background-color: rgb(69, 107, 31);
}

.sidebar ul li a i {
    padding-right: 10px;
}  



@media (max-width:978px ){
    .Btn a img {
        width: 9%;
        border-radius: 50%;
    }
    .navLink a {
        text-decoration: none;
        color: chartreuse;
        font-family: 'Roboto Slab', serif;
        padding: 8px;
        font-size: 15px;
        margin: 0px 5px;
        /* font-weight: 600; */
        border-radius: 5px;
    }
}
@media (max-width:700px ){
    .Btn a img {
        width: 8%;
        border-radius: 50%;
    }
    .navItems{
        display: none;
    }
    #menuBtn{
        display: block;
    }
}
@media (max-width:524px ){
    .Btn a img {
        width: 10%;
        border-radius: 50%;
    }
    #menuBtn {
        font-size: 27px;
        right: 10px;
position: absolute;
top: 3px;
      
    }
}
