@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Open+Sans:wght@300&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Open+Sans:wght@300&family=Oxygen:wght@300&family=PT+Sans&display=swap');

body{
    margin: 0px;
    padding: 0px;
/* background: #262626; */
scroll-behavior: smooth;
}
#loading{
    width: 100%;
    height: 100vh;
    padding: 3rem;
    background: linear-gradient( 
        135deg
         , #8de7b78e,#b8cc087d),url(/img/loader.gif) no-repeat center center/cover;
}
.parallex {
    font-family: 'PT Sans', sans-serif;
    background: linear-gradient( 
        135deg
         , #2cae69,#3333337d),url(/img/mic.jpg) no-repeat center center/cover;
    min-height: 500px;
    background-attachment: fixed;
    color: #f2f9f5;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-align:justify;
}

.gradient{
    font-size: 60px;
    font-weight: 600;
    background: -webkit-linear-gradient(blue, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @supports (-webkit-text-stroke: 1px black) {
    .gradient{
        -webkit-text-stroke: 1px #dbfdd0;
      /* -webkit-text-fill-color: white; */
    }
  }



.grid-section{
    background-color:#003638;     
    padding: 3rem;

}

.heading {
    display: flex;
 color: #E8E8E8;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-top: 0px;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
}
#guestItems , #teamItems{
text-align: center;
padding-bottom: 25px;
}

.container .box{
    position: relative;
    height: 220px;
    width: 220px;
    /* background: #ff0; */
    margin: 15px;
    box-sizing: border-box;
    display: inline-block;
    
}
    .container .box .imgBox{
       position: relative;
       overflow: hidden;
       border-radius: 75px;
    }
    .container .box .imgBox img{
        max-width: 100%;
        transition: transform 1s;
        /* border-radius: 20px; */
       
    }

  /* .container .box:hover .imgBox img{
      transform: scale(1.2);
      cursor: pointer;
  }
  */
.about-guest{
    line-height: 21px;
    color: cornsilk;
}
#guest-name{
 font-size: 20px;
        color: aliceblue;
        font-family: 'Oxygen';
}
.description{
   
        display: block;
        padding-top: 19px;

}
.podcastLink {
    padding: 5px;
    background-color: #3B5249;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
}
.podcastLink a{

        text-decoration: none;
        color: #b69e9e;
    
}
.podcastLink a i{
    margin-right: 10px;
}
.allguestbtn a i{
    margin-right: 10px;
}

.podcastLink a:hover{
    color: #7ae457;
}

.allguestbtn , .allteambtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.allguestbtn a, .allteambtn a{
    color: skyblue;
    font-weight: 500;
    padding: 10px;
    box-shadow: 3px 3px 11px 2px darkolivegreen;
    text-decoration: none;
    border-radius: 4px;
}
.allguestbtn a:hover, .allteambtn a:hover{
    color: #7ae457;
}

/* .allguestbtn a, .allteambtn a{
    color: #FF616D;
    padding: 10px;
    background-color:#3B5249;
    text-decoration: none;
}
.allguestbtn a:hover, .allteambtn a:hover{
    color: #7ae457;
} */
/* aboutus-secton  */
.about-us-section{
    background: #E0ECE4;
    padding: 3rem;
}
.contents{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
    font-size: 19px;
    word-spacing: 4px;
    text-align: justify;
}
.title{
    font-family: 'Montserrat', sans-serif;
 
    color: black;
}

/* club show section  */
.ltishow-section {
    background-color: #519872;
    padding: 3rem;
    font-family: 'Oxygen', sans-serif;
}
#showItem {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8f9fa;
    flex-direction: column;
    font-size: larger;
    /* font-weight: 600; */
    text-align: justify;
}
#showImage {
    width: 73%;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 40%);
}
#showName {
    font-size: 39px;
    font-weight: 600;
    color: #C7F0DB;
    padding-bottom: 15px;
}


/* video-clip-section  */
.video-clip-section {
    background: #C9D8B6;
    padding: 2rem;
    color: #334257;
}
#VideoItem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
#videoClip{
    width: 70%;
    height: 17rem;
    border-radius: 10px;
}




@media(max-width:1214px){
    .container .box .imgBox img {
        max-width: 80%;
        transition: transform 1s;
        border-radius: 20px;
    }
    
}
@media(max-width:991px){
    #showImage {
        width: 50%;
        border-radius: 20px;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 40%);
        margin-bottom: 15px;
    }
    
}

@media (max-width:496px){
   .parallex h2, .parallex p{
        font-size: 16px;
    }

    .gradient{
        font-size: 2.5rem;
    }

    .about-us-section{
        padding: 1rem;
    }
    .heading{
        font-size: 25px;
    }
    #showImage {
        width: 72%;
        border-radius: 20px;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 40%);
        margin-bottom: 15px;
    }
   
    #showName {
        font-size: 23px;
        font-weight: 600;
        color: #C7F0DB;
        padding-bottom: 15px;
        padding-top: 20px;
    }
    
#showPara{
    font-size: 15px;
}

    .grid-section {
        background-color: #003638;
        padding: 1rem;
    }
    .ltishow-section {
        background-color: #519872;
        padding: 1rem;
        font-family: 'Oxygen', sans-serif;
    }
    .container .box:hover .details {
        transform: scale(1);
        cursor: pointer;
        width: 91%;
        height: 77%;
    }
    #videoClip{
        width: 90%;
        height: 12rem;
        border-radius: 10px;
    }
    .contents p{
        font-size: 15px;
    }
    
}