*{
    padding: 0px;
    margin: 0px; 
    scroll-behavior: smooth;
 }
 #loading{
    width: 100%;
    height: 100vh;
    padding: 3rem;
    background: linear-gradient( 
        135deg
         , #8de7b78e,#b8cc087d),url(/img/loader.gif) no-repeat center center/cover;
}
    .full-screen{
        display: flex;
        justify-content: center;
        align-items: center;
  min-height: 90vh;
        padding: 2rem 0rem;
        background-color: #003638;
    }
    .login-page{
        background-color: #fff;
        color: rgb(44, 66, 21);
        width: 40%;
        /* height: 50%; */
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
        border-radius: 15px;
        transition: ease-in .2s;
    }
    .login-page:hover{
        transform: scale(1.02);
    }
    .header {
        background-image: linear-gradient( 
            45deg
             , rgb(19 58 4 / 62%), rgb(135 217 91 / 58%)), url(/img/mic.jpg);
        color: #fff;
        height: 7rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px 10px 0 0px;
    }
    .header h2{
        font-size: 25px;
    }
    .form-section {
        display: flex;
        justify-content: center;
        padding: 2rem;
        background: #C6EBC9;
    }
    #inputName{
    border: none;
    border-bottom: 2px solid black;
    width: 90%;
    opacity: 0.8;
    margin: 20px;
    }
    
    .footer{
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    .footer .btn {
     
        color: #fff;
        background-color: rgb(7 155 15);
        padding: 6px 20px;
        border: 2px solid white;
        border-radius: 15px;
        transition: ease-in .2s;
        /* width: 15%; */
        text-align: center;
        cursor: pointer;
    }
    .footer .btn:hover{
        color: #fff;
        background-color: black;
        
    }
    @media(max-width:1000px){
        .login-page{
            width: 60%;
        }
    }
    @media(max-width:660px){
        .login-page{
            width: 93%;
        }
        .form-section {
            display: flex;
            justify-content: center;
            padding: 2rem 0px;
            background: #C6EBC9;
        }
    }
    